build --experimental_enable_bzlmod

build --incompatible_strict_action_env
build --local_test_jobs=1

build:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
build:buildbuddy --bes_backend=grpcs://remote.buildbuddy.io
build:buildbuddy --remote_cache=grpcs://remote.buildbuddy.io
build:buildbuddy --remote_timeout=1200
build:buildbuddy --grpc_keepalive_time=360s
build:buildbuddy --grpc_keepalive_timeout=360s
build:buildbuddy --remote_download_minimal
build:buildbuddy --build_metadata=REPO_URL=https://github.com/rabbitmq/rabbitmq-server.git

build:rbe --config=buildbuddy

build:rbe --remote_executor=grpcs://remote.buildbuddy.io

build:rbe --spawn_strategy=remote
build:rbe --test_strategy=""
build:rbe --jobs=100

build:rbe --crosstool_top=@rbe//cc:toolchain
build:rbe --extra_toolchains=@rbe//config:cc-toolchain

build:rbe --host_platform=@rbe//config:platform
build:rbe --platforms=@rbe//config:platform
build:rbe --extra_execution_platforms=@rbe//config:platform

build:rbe --host_cpu=k8
build:rbe --cpu=k8

build:rbe-23 --config=rbe
build:rbe-23 --extra_toolchains=@otp_23//:erlang_toolchain
build:rbe-23 --extra_toolchains=@elixir_1.10.4//:elixir_toolchain

build:rbe-24 --config=rbe
build:rbe-24 --extra_toolchains=@otp_24//:erlang_toolchain
build:rbe-24 --extra_toolchains=@elixir_1.13.4//:elixir_toolchain

build:rbe-25 --config=rbe
build:rbe-25 --extra_toolchains=@otp_25//:erlang_toolchain
build:rbe-25 --extra_toolchains=@elixir_1.13.4//:elixir_toolchain

build:local --extra_toolchains=@rules_erlang//tools:erlang_external_toolchain
build:local --extra_toolchains=//bazel/elixir:elixir_external_toolchain

# Try importing a user specific .bazelrc
# You can create your own by copying and editing the template-user.bazelrc template:
# cp template-user.bazelrc user.bazelrc
try-import %workspace%/user.bazelrc
